body {
font-family: sans-serif;
padding: 1em;
max-width: 600px;
background-color: beige;
}
h1 {
font-size: 180%;
color: #000000;
}
h2 {
font-size: 140%;
border-bottom: 3px solid #0033cc;
}
ul {
list-style-type: square;
}
footer {
font-size: medium;
color: #7209af;
background-color: rgb(0, 0, 0);
}
